<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet">
    <title>Shoot Film!</title>
</head>
<body>
<header>
    <h1>35mm Travel Blog</h1>
    <nav>
        <a class="nav-link" href="/posts">All Posts</a>
    </nav>
</header>
<main>
    <div class="title-details">
        <h1 th:text="${post.title}"></h1>
        <h3>Logan Young</h3>
        <h3 th:text="${#dates.format(post.date, 'MM-dd-yyyy')}"></h3>
    </div>

    <div class="body-details">
        <div class="post-body" th:text="${post.body}"></div>
        <div class="post-details">
            <h3 th:text="${post.address.city} + ', ' + ${post.address.state}"></h3>
            <h3 th:text="'Film ' + ${post.filmTypes}"></h3>
        </div>
    </div>
</main>
</body>
</html>