<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  th:href="@{/styles.css}">
    <title>All Blog Posts</title>
</head>
<body>
<header>
    <h1>35mm Travel Blog</h1>
</header>

<div class="container">
<h1>Create New Post</h1>
<form action="#" th:action="@{/posts}" th:object="${newPost}" method="post">
    <p>Title: <input type="text" th:field="*{title}"></p>
    <p>Date: <input type="date" th:field="*{date}"></p>
    <p>Body: <textarea class="textarea" type="text" th:field="*{body}"></textarea></p>
    <p>Location:
        <select th:field="${newPost.address.id}">
            <option value="1">Austin, Texas</option>
            <option value="2">Lafayette, Louisiana</option>
            <option value="3">Detroit, Michigan</option>
            <option value="4">Phoenix, Arizona</option>
            <option value="5">Seattle, Washington</option>
        </select>
    </p>
    <p>Film Types:
        <div class="film-list">
            <th:block th:each="filmType : ${filmTypes}">
                <div>
                <input type="checkbox" th:field="*{filmTypes}" th:text="${filmType.name}" th:value="${filmType.id}" />
                </div>
            </th:block>
        </div>
    </p>
    <p>
        <button type="submit" value="Submit" th:text="Submit"></button>
    </p>
</form>
</div>

<h1 style="text-align: center">All Blog Posts</h1>
<div th:each="post : ${posts}">
    <div class="container">
            <a th:href="@{'/post/' + ${post.getId()}}">
                <h2 class="post-title" th:text="${post.title}"></h2>
            </a>
            <h3 th:text="${#dates.format(post.date, 'MM-dd-yyyy')}"></h3>
            <form action="#" th:action="@{'/posts/{id}'(id=${post.id})}" th:object="${updatedPost}" method="post">
                <p>Edit Title: <input type="text" th:field="*{title}"></p>
                <p>Change Date: <input type="date" th:field="*{date}"></p>
                <p>
                    <button type="submit" value="Submit" th:text="Update"></button>
                </p>
            </form>
            <a th:href="@{'/posts/{id}/delete'(id=${post.id})}">
                <p>
                    <button type="submit">Delete Post</button>
                </p>
            </a>
    </div>
</div>

</body>
</html>